<h2>Edit Passenger </h2>

<main>
  <%= render partial: "form", locals: {
    form_class: "edit-passenger",
    intro_text: "Use this form to edit a Passenger",
    action_name: "Edit Passenger"
  } %>
</main>
