<h2> Create New Passenger </h2>

<main>
  <%= render partial: "form", locals: {
    form_class: "new-passenger",
    intro_text: "Use this form to create a new Passenger",
    action_name: "Submit Passenger"
  } %>
</main>
