<h1>View Passenger</h1>


  <div>
    <img src="https://picsum.photos/200">
  </div>

  <ul>
    <li>
      <%= @passenger.name %>
    </li>
    <li>
      <%= @passenger.phone_num %>
    </li>
    <%@passenger.trips.each do |trip|%>
    <li>
      Trip on: <%= link_to trip.date, trip_path(trip.id) %>
    </li>
    <%end%>
  </ul>
  
