<h2>Edit Driver</h2>

<main>
  <%= render partial: "form", locals: {
    form_class: "edit-driver",
    intro_text: "Use this form to edit driver info!",
    action_name: "Edit Driver"
  } %>
</main>
